<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joy.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 小米 -->
    <permission
        android:name="com.joy.app.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.joy.app.permission.MIPUSH_RECEIVE" />

    <!-- 小米 -->
    <application
        android:name=".JoyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/theme_app">
        <activity
            android:name=".activity.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx4f5cdafa5eaf4ca0" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.common.DayPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.LvTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.LvLoadMoreTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.RvLoadMoreTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.DetailTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.sample.DetailTestActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.city.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.city.CityFunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.DetailTestActivity3"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.sample.TabTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poi.PoiDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.poi.OrderBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.poi.OrderBookProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poi.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poi.OrderPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.poi.CommentActivity"
            android:screenOrientation="portrait" />

        <!--行程规划-->
        <activity
            android:name=".activity.plan.UserPlanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.plan.AddPoiToFloderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ex_theme_dialog" />

        <!--地图-->
        <activity
            android:name=".activity.map.SinglePoiMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <activity
            android:name=".activity.map.ListPoiMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_app.translucent.toolbar.overlay" />
        <!--酒店-->
        <activity
            android:name=".activity.hotel.CityHotelListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.hotel.HotelSearchFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ex_theme_dialog" />

        <!--android:theme="@style//"-->

        <activity
            android:name=".activity.hotel.SearchHotelActivity"
            android:screenOrientation="portrait" />
        <!-- 小米 -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- 小米 -->
        <!--高德-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c19de3bd5c51a7f01937e3a8a6e95182" />      
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="533e4f4056240b5a19000d36" />
        <!-- 友盟升级 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>
        <!-- 友盟升级 -->
        <!-- 友盟 -->
        <!--分享-->
        <activity android:name="com.joy.library.share.weibo.auth.WeiBoAuthActivity"
                  android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name="com.joy.library.share.weibo.auth.WeiboEditActivitiy"
                  android:screenOrientation="portrait"/>

        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
    </application>

</manifest>
