<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joy.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".JoyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ex_base_theme">
        <activity
            android:name=".activity.sample.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.sample.LvTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.DetailTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sample.FullScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_translucent" />
        <activity
            android:name=".activity.sample.TabTestActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
